:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preta);
    font-family: 'Lucida Sans';
    color: white;
}

header .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

.container{
    margin-left: 8px;
    margin-right: 8px;
}

/*filme principal*/
.desenho-principal{
    font-size: 15px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-dragonz.jpg');
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.desenho-principal .descricao{
    margin-top: 10px;
    margin-bottom: 30px;
}

.desenho-principal .titulo{
    margin-top: 15%;
    font-size: 30px;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 10px 20px;
    margin-right: 15px;
    font-size: 13px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 6px;
}

.desenho-principal .container{
    width: 400px;
}

.box-desenho{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-desenhos{
    margin-top: 7px;
}